affine 
asgiref 
attrs 
branca 
brotlipy 
certifi==2021.10.8
cffi 
charset-normalizer 
click 
click-plugins==1.1.1
cligj 
cryptography 
cycler 
Django
Fiona 
folium 
fonttools 
GDAL==3.4.2
geographiclib==1.52
geopandas 
geopy==2.2.0
googlemaps==4.6.0
idna 
Jinja2 
joblib 
kiwisolver
mapclassify 
MarkupSafe 
matplotlib 
mpld3==0.5.7
munch==2.5.0
munkres==1.1.4
mysqlclient
networkx 
numpy 
osmnx 
packaging 
pandas==1.4.2
Pillow 
plotly 
pycparser  
pyOpenSSL 
pyparsing 
pyproj 
PySocks 
python-dateutil 
pytz 
rasterio 
requests 
Rtree 
scikit-learn 
scipy 
Shapely 
six 
snuggs==1.4.7
sqlparse 
tenacity 
threadpoolctl
tornado
typing_extensions
unicodedata2 
urllib3 
xyzservices 
