{% load static %}

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=9ec15cee8f9a36012166f2c377d167d7"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>PATH</title>
    <link href="{% static 'css/1.css'%}" rel="stylesheet">
</head>
<body onload="Options(); hideOverlays(); setMarkersBound();">
<div align = "middle" id = "wrapper">
    <br><br>
    <img src = "{% static 'graphimage.png'%}" alt = "" width = "550" height="550" style="margin-top: 5px; margin-bottom: 5px;">
    <br><br>
    
    {% if ifCS2 == "True" %}
        <h6>found {{lenCS2}} CS2</h6>
    {% endif %}
    
    {% if ifMT1 == "True" %}
        <h6>found {{lenMT1}} MT1</h6>
    {% endif %}

    {% if ifMT1 != 'True' and ifCS2 != 'True' %}
        None Selected
    {% endif %}

    <br><br>
    <h4>
        Shortest Path 
        {% if ifCS2 == "True" %}visiting {{points}} CS2{% endif %}
        {% if ifMT1 == "True" %}visiting {{points}} MT1{% endif %}
        {% if ifMT1 != 'True' and ifCS2 != 'True' %}from Origin to Destination{% endif %}
    </h4>
    <br>
    <div id = "divv"></div>

    <br><br>

    <div style="margin-bottom: 7%;">
        <div style="height: 400px; z-index: 10; float: left; position: absolute;">
        {% if ifCS2 == "True" %}
            {% for cs2 in CS2 %}
                <div onclick="CS2overlayclick('{{forloop.counter}}');" style="cursor: pointer; font-size: 87%;background-color: rgba(255, 255, 255, 0.5);color:gray;">
                    {{cs2.7}}
                </div>
            {% endfor %}
        {% endif %}    

        {% if ifMT1 == "True" %}
            {% for mt1 in MT1 %}
                <div onclick="MT1overlayclick('{{forloop.counter}}');" style="cursor: pointer; font-size: 87%;background-color: rgba(255, 255, 255, 0.5);color:gray;">
                    {{mt1.7}} 
                </div>        
            {% endfor %}
        {% endif %}
        </div>

        <div id="map" style="width:100%; height:400px; z-index: 0; position: relative;"></div>
    </div>
    <br>

    <div>
        <input class="form-check-input" onclick="drawcheck();" type="checkbox" value="" id="bsCheck">
        <label class="form-check-label" for="flexCheckChecked">선 그리기</label>

        <button type="button" class="btn btn-secondary btn-sm" style="margin-top: 3px;" onclick="setMarkersBound();">setMarkersBound</button>
        {% if ifCS2 == "True" %}
            <button type="button" class="btn btn-secondary btn-sm" style="margin-top: 3px;" onclick="showCS2();">show CS2</button>
            <button type="button" class="btn btn-secondary btn-sm" style="margin-top: 3px;" onclick="hideCS2();">hide CS2</button>
        {% endif %}

        {% if ifMT1 == "True" %}
            <button type="button" class="btn btn-secondary btn-sm" style="margin-top: 3px;" onclick="showMT1();">show MT1</button>
            <button type="button" class="btn btn-secondary btn-sm" style="margin-top: 3px;" onclick="hideMT1();">hide MT1</button>
        {% endif %}
        <br><br>
        <form action = "{% url 'end' %}">
            <button type="submit" class="btn btn-primary btn-lg">end</button>
        </form>
    </div>
    
<script>

</script>
<script>

    var options = "{{options}}".split("^")
    var optionsurl = "{{optionsurl}}".split("^")
    function showcopyalertdiv(x) {
        document.getElementById(x).style.display = 'inline';
        setTimeout(function() {
            document.getElementById(x).style.display = 'none';
        }, 2000)
    }
    function CopytoClipboard(val) {
        const t = document.createElement("textarea");
        var valu = optionsurl[val]
        document.body.appendChild(t);
        t.value = valu;
        t.value = t.value.replace(/amp;/g , "")
        t.select();
        document.execCommand('copy');
        document.body.removeChild(t);
        showcopyalertdiv(val)
    }
    var divstr = ""
    function Options() {  
        const element = document.getElementById('divv');
        const imgsrc = "{% static 'copy_icon.png' %}"
        for (x = 0; x < options.length; x++) {
            divstr =  divstr + '<a href= ' + optionsurl[x] + ' style = "text-decoration: none;">' + options[x] + '</a>' 
            + '<button style="margin-left:5px; border: 0; outline: 0; background-color: white;" onclick="CopytoClipboard('+ x +')"><img src="'+ imgsrc +'" alt="" width="14.5px" height="14.5px"></button>' 
            + '<div id="' + x + '" style="display: none; background-color: gray; color:white; font-size: 100%; border-radius:5px">&nbsp;copied!&nbsp;</div>'
            + '<br>'
        }
        element.innerHTML = '<div>'+ divstr +'<div>';
    }

    // onclick = "closeCS2Overlay(' + x + ');"
</script>
<script>
    function drawcheck() {
        if (document.getElementById('bsCheck').checked) {
            console.log('선 그리기')

                // ===================================================================================================================================================================================================

            var drawingFlag = false; // 선이 그려지고 있는 상태를 가지고 있을 변수입니다
            var moveLine; // 선이 그려지고 있을때 마우스 움직임에 따라 그려질 선 객체 입니다
            var clickLine // 마우스로 클릭한 좌표로 그려질 선 객체입니다
            var distanceOverlay; // 선의 거리정보를 표시할 커스텀오버레이 입니다
            var dots = {}; // 선이 그려지고 있을때 클릭할 때마다 클릭 지점과 거리를 표시하는 커스텀 오버레이 배열입니다.

            // 지도에 클릭 이벤트를 등록합니다
            // 지도를 클릭하면 선 그리기가 시작됩니다 그려진 선이 있으면 지우고 다시 그립니다
            kakao.maps.event.addListener(map, 'click', function(mouseEvent) {

                // 마우스로 클릭한 위치입니다 
                var clickPosition = mouseEvent.latLng;

                // 지도 클릭이벤트가 발생했는데 선을 그리고있는 상태가 아니면
                if (!drawingFlag) {

                    // 상태를 true로, 선이 그리고있는 상태로 변경합니다
                    drawingFlag = true;
                    
                    // 지도 위에 선이 표시되고 있다면 지도에서 제거합니다
                    deleteClickLine();
                    
                    // 지도 위에 커스텀오버레이가 표시되고 있다면 지도에서 제거합니다
                    deleteDistnce();

                    // 지도 위에 선을 그리기 위해 클릭한 지점과 해당 지점의 거리정보가 표시되고 있다면 지도에서 제거합니다
                    deleteCircleDot();
                
                    // 클릭한 위치를 기준으로 선을 생성하고 지도위에 표시합니다
                    clickLine = new kakao.maps.Polyline({
                        map: map, // 선을 표시할 지도입니다 
                        path: [clickPosition], // 선을 구성하는 좌표 배열입니다 클릭한 위치를 넣어줍니다
                        strokeWeight: 3, // 선의 두께입니다 
                        strokeColor: '#db4040', // 선의 색깔입니다
                        strokeOpacity: 1, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                        strokeStyle: 'solid' // 선의 스타일입니다
                    });
                    
                    // 선이 그려지고 있을 때 마우스 움직임에 따라 선이 그려질 위치를 표시할 선을 생성합니다
                    moveLine = new kakao.maps.Polyline({
                        strokeWeight: 3, // 선의 두께입니다 
                        strokeColor: '#db4040', // 선의 색깔입니다
                        strokeOpacity: 0.5, // 선의 불투명도입니다 0에서 1 사이값이며 0에 가까울수록 투명합니다
                        strokeStyle: 'solid' // 선의 스타일입니다    
                    });
                
                    // 클릭한 지점에 대한 정보를 지도에 표시합니다
                    displayCircleDot(clickPosition, 0);

                        
                } else { // 선이 그려지고 있는 상태이면

                    // 그려지고 있는 선의 좌표 배열을 얻어옵니다
                    var path = clickLine.getPath();

                    // 좌표 배열에 클릭한 위치를 추가합니다
                    path.push(clickPosition);
                    
                    // 다시 선에 좌표 배열을 설정하여 클릭 위치까지 선을 그리도록 설정합니다
                    clickLine.setPath(path);

                    var distance = Math.round(clickLine.getLength());
                    displayCircleDot(clickPosition, distance);
                }
            });
                
            // 지도에 마우스무브 이벤트를 등록합니다
            // 선을 그리고있는 상태에서 마우스무브 이벤트가 발생하면 그려질 선의 위치를 동적으로 보여주도록 합니다
            kakao.maps.event.addListener(map, 'mousemove', function (mouseEvent) {

                // 지도 마우스무브 이벤트가 발생했는데 선을 그리고있는 상태이면
                if (drawingFlag){
                    
                    // 마우스 커서의 현재 위치를 얻어옵니다 
                    var mousePosition = mouseEvent.latLng; 

                    // 마우스 클릭으로 그려진 선의 좌표 배열을 얻어옵니다
                    var path = clickLine.getPath();
                    
                    // 마우스 클릭으로 그려진 마지막 좌표와 마우스 커서 위치의 좌표로 선을 표시합니다
                    var movepath = [path[path.length-1], mousePosition];
                    moveLine.setPath(movepath);    
                    moveLine.setMap(map);
                    
                    var distance = Math.round(clickLine.getLength() + moveLine.getLength()), // 선의 총 거리를 계산합니다
                        content = '<div class="dotOverlay distanceInfo">총거리 <span class="number">' + distance + '</span>m</div>'; // 커스텀오버레이에 추가될 내용입니다
                    
                    // 거리정보를 지도에 표시합니다
                    showDistance(content, mousePosition);   
                }             
            });                 

            // 지도에 마우스 오른쪽 클릭 이벤트를 등록합니다
            // 선을 그리고있는 상태에서 마우스 오른쪽 클릭 이벤트가 발생하면 선 그리기를 종료합니다
            kakao.maps.event.addListener(map, 'rightclick', function (mouseEvent) {

                // 지도 오른쪽 클릭 이벤트가 발생했는데 선을 그리고있는 상태이면
                if (drawingFlag) {
                    
                    // 마우스무브로 그려진 선은 지도에서 제거합니다
                    moveLine.setMap(null);
                    moveLine = null;  
                    
                    // 마우스 클릭으로 그린 선의 좌표 배열을 얻어옵니다
                    var path = clickLine.getPath();
                
                    // 선을 구성하는 좌표의 개수가 2개 이상이면
                    if (path.length > 1) {

                        // 마지막 클릭 지점에 대한 거리 정보 커스텀 오버레이를 지웁니다
                        if (dots[dots.length-1].distance) {
                            dots[dots.length-1].distance.setMap(null);
                            dots[dots.length-1].distance = null;    
                        }

                        var distance = Math.round(clickLine.getLength()), // 선의 총 거리를 계산합니다
                            content = getTimeHTML(distance); // 커스텀오버레이에 추가될 내용입니다
                            
                        // 그려진 선의 거리정보를 지도에 표시합니다
                        showDistance(content, path[path.length-1]);  
                        
                    } else {

                        // 선을 구성하는 좌표의 개수가 1개 이하이면 
                        // 지도에 표시되고 있는 선과 정보들을 지도에서 제거합니다.
                        deleteClickLine();
                        deleteCircleDot(); 
                        deleteDistnce();

                    }
                    
                    // 상태를 false로, 그리지 않고 있는 상태로 변경합니다
                    drawingFlag = false;          
                }  
            });    

            // 클릭으로 그려진 선을 지도에서 제거하는 함수입니다
            function deleteClickLine() {
                if (clickLine) {
                    clickLine.setMap(null);    
                    clickLine = null;        
                }
            }

            // 마우스 드래그로 그려지고 있는 선의 총거리 정보를 표시하거
            // 마우스 오른쪽 클릭으로 선 그리가 종료됐을 때 선의 정보를 표시하는 커스텀 오버레이를 생성하고 지도에 표시하는 함수입니다
            function showDistance(content, position) {
                
                if (distanceOverlay) { // 커스텀오버레이가 생성된 상태이면
                    
                    // 커스텀 오버레이의 위치와 표시할 내용을 설정합니다
                    distanceOverlay.setPosition(position);
                    distanceOverlay.setContent(content);
                    
                } else { // 커스텀 오버레이가 생성되지 않은 상태이면
                    
                    // 커스텀 오버레이를 생성하고 지도에 표시합니다
                    distanceOverlay = new kakao.maps.CustomOverlay({
                        map: map, // 커스텀오버레이를 표시할 지도입니다
                        content: content,  // 커스텀오버레이에 표시할 내용입니다
                        position: position, // 커스텀오버레이를 표시할 위치입니다.
                        xAnchor: 0,
                        yAnchor: 0,
                        zIndex: 3  
                    });      
                }
            }

            // 그려지고 있는 선의 총거리 정보와 
            // 선 그리가 종료됐을 때 선의 정보를 표시하는 커스텀 오버레이를 삭제하는 함수입니다
            function deleteDistnce () {
                if (distanceOverlay) {
                    distanceOverlay.setMap(null);
                    distanceOverlay = null;
                }
            }

            // 선이 그려지고 있는 상태일 때 지도를 클릭하면 호출하여 
            // 클릭 지점에 대한 정보 (동그라미와 클릭 지점까지의 총거리)를 표출하는 함수입니다
            function displayCircleDot(position, distance) {

                // 클릭 지점을 표시할 빨간 동그라미 커스텀오버레이를 생성합니다
                var circleOverlay = new kakao.maps.CustomOverlay({
                    content: '<span class="dot"></span>',
                    position: position,
                    zIndex: 1
                });

                // 지도에 표시합니다
                circleOverlay.setMap(map);

                if (distance > 0) {
                    // 클릭한 지점까지의 그려진 선의 총 거리를 표시할 커스텀 오버레이를 생성합니다
                    var distanceOverlay = new kakao.maps.CustomOverlay({
                        content: '<div class="dotOverlay">거리 <span class="number">' + distance + '</span>m</div>',
                        position: position,
                        yAnchor: 1,
                        zIndex: 2
                    });

                    // 지도에 표시합니다
                    distanceOverlay.setMap(map);
                }

                // 배열에 추가합니다
                dots.push({circle:circleOverlay, distance: distanceOverlay});
            }

            // 클릭 지점에 대한 정보 (동그라미와 클릭 지점까지의 총거리)를 지도에서 모두 제거하는 함수입니다
            function deleteCircleDot() {
                var i;

                for ( i = 0; i < dots.length; i++ ){
                    if (dots[i].circle) { 
                        dots[i].circle.setMap(null);
                    }

                    if (dots[i].distance) {
                        dots[i].distance.setMap(null);
                    }
                }

                dots = [];
            }

            // 마우스 우클릭 하여 선 그리기가 종료됐을 때 호출하여 
            // 그려진 선의 총거리 정보와 거리에 대한 도보, 자전거 시간을 계산하여
            // HTML Content를 만들어 리턴하는 함수입니다
            function getTimeHTML(distance) {

                // 도보의 시속은 평균 4km/h 이고 도보의 분속은 67m/min입니다
                var walkkTime = distance / 67 | 0;
                var walkHour = '', walkMin = '';

                // 계산한 도보 시간이 60분 보다 크면 시간으로 표시합니다
                if (walkkTime > 60) {
                    walkHour = '<span class="number">' + Math.floor(walkkTime / 60) + '</span>시간 '
                }
                walkMin = '<span class="number">' + walkkTime % 60 + '</span>분'

                // 자전거의 평균 시속은 16km/h 이고 이것을 기준으로 자전거의 분속은 267m/min입니다
                var bycicleTime = distance / 227 | 0;
                var bycicleHour = '', bycicleMin = '';

                // 계산한 자전거 시간이 60분 보다 크면 시간으로 표출합니다
                if (bycicleTime > 60) {
                    bycicleHour = '<span class="number">' + Math.floor(bycicleTime / 60) + '</span>시간 '
                }
                bycicleMin = '<span class="number">' + bycicleTime % 60 + '</span>분'

                // 거리와 도보 시간, 자전거 시간을 가지고 HTML Content를 만들어 리턴합니다
                var content = '<ul class="dotOverlay distanceInfo">';
                content += '    <li>';
                content += '        <span class="label">총거리</span><span class="number">' + distance + '</span>m';
                content += '    </li>';
                content += '    <li>';
                content += '        <span class="label">도보</span>' + walkHour + walkMin;
                content += '    </li>';
                content += '    <li>';
                content += '        <span class="label">자전거</span>' + bycicleHour + bycicleMin;
                content += '    </li>';
                content += '</ul>'

                return content;
            }
            // ===================================================================================================================================================================================================
        }


        else {
            console.log('선 그리기 off')
        }
    }

    var SPL = String("{{SPL.0}}").split(", ");
    var startMarkerlat = parseFloat(SPL[0]);
    var startMarkerlng = parseFloat(SPL[1]);
    var DPL = String("{{DPL.0}}").split(", ");
    var arriveMarkerlat = parseFloat(DPL[0]);
    var arriveMarkerlng = parseFloat(DPL[1]);
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
        mapOption = { 
            center: new kakao.maps.LatLng((startMarkerlat + arriveMarkerlat)/2, (startMarkerlng+arriveMarkerlng)/2),
            level: 3 // 지도의 확대 레벨
        };
    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
    var startSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/red_b.png', // 출발 마커이미지의 주소입니다    
        startSize = new kakao.maps.Size(50, 45), // 출발 마커이미지의 크기입니다 
        startOption = { 
            offset: new kakao.maps.Point(15, 43) // 출발 마커이미지에서 마커의 좌표에 일치시킬 좌표를 설정합니다 (기본값은 이미지의 가운데 아래입니다)
        };
    // 출발 마커 이미지를 생성합니다
    var startImage = new kakao.maps.MarkerImage(startSrc, startSize, startOption);
    var startDragSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/red_drag.png', // 출발 마커의 드래그 이미지 주소입니다    
        startDragSize = new kakao.maps.Size(50, 64), // 출발 마커의 드래그 이미지 크기입니다 
        startDragOption = { 
            offset: new kakao.maps.Point(15, 54) // 출발 마커의 드래그 이미지에서 마커의 좌표에 일치시킬 좌표를 설정합니다 (기본값은 이미지의 가운데 아래입니다)
        };
    // 출발 마커의 드래그 이미지를 생성합니다
    var startDragImage = new kakao.maps.MarkerImage(startDragSrc, startDragSize, startDragOption);
    // 출발 마커가 표시될 위치입니다 
    var startPosition = new kakao.maps.LatLng(startMarkerlat, startMarkerlng); 
    // 출발 마커를 생성합니다
    var startMarker = new kakao.maps.Marker({
        map: map, // 출발 마커가 지도 위에 표시되도록 설정합니다
        position: startPosition,
        draggable: false, // 출발 마커가 드래그 가능하도록 설정합니다
        image: startImage // 출발 마커이미지를 설정합니다
    });
    // 출발 마커에 dragstart 이벤트를 등록합니다
    kakao.maps.event.addListener(startMarker, 'dragstart', function() {
        // 출발 마커의 드래그가 시작될 때 마커 이미지를 변경합니다
        startMarker.setImage(startDragImage);
    });
    // 출발 마커에 dragend 이벤트를 등록합니다
    kakao.maps.event.addListener(startMarker, 'dragend', function() {
        // 출발 마커의 드래그가 종료될 때 마커 이미지를 원래 이미지로 변경합니다
        startMarker.setImage(startImage);
    });
    var arriveSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/blue_b.png', // 도착 마커이미지 주소입니다    
    arriveSize = new kakao.maps.Size(50, 45), // 도착 마커이미지의 크기입니다 
    arriveOption = { 
        offset: new kakao.maps.Point(15, 43) // 도착 마커이미지에서 마커의 좌표에 일치시킬 좌표를 설정합니다 (기본값은 이미지의 가운데 아래입니다)
    };
    // 도착 마커 이미지를 생성합니다
    var arriveImage = new kakao.maps.MarkerImage(arriveSrc, arriveSize, arriveOption);
    var arriveDragSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/blue_drag.png', // 도착 마커의 드래그 이미지 주소입니다    
        arriveDragSize = new kakao.maps.Size(50, 64), // 도착 마커의 드래그 이미지 크기입니다 
        arriveDragOption = { 
            offset: new kakao.maps.Point(15, 54) // 도착 마커의 드래그 이미지에서 마커의 좌표에 일치시킬 좌표를 설정합니다 (기본값은 이미지의 가운데 아래입니다)
        };
    // 도착 마커의 드래그 이미지를 생성합니다
    var arriveDragImage = new kakao.maps.MarkerImage(arriveDragSrc, arriveDragSize, arriveDragOption);
    // 도착 마커가 표시될 위치입니다 
    var arrivePosition = new kakao.maps.LatLng(arriveMarkerlat, arriveMarkerlng);    
    // 도착 마커를 생성합니다 
    var arriveMarker = new kakao.maps.Marker({  
        map: map, // 도착 마커가 지도 위에 표시되도록 설정합니다
        position: arrivePosition,
        draggable: false, // 도착 마커가 드래그 가능하도록 설정합니다
        image: arriveImage // 도착 마커이미지를 설정합니다
    });
    // 일반 지도와 스카이뷰로 지도 타입을 전환할 수 있는 지도타입 컨트롤을 생성합니다
    var mapTypeControl = new kakao.maps.MapTypeControl();
    // 지도에 컨트롤을 추가해야 지도위에 표시됩니다
    // kakao.maps.ControlPosition은 컨트롤이 표시될 위치를 정의하는데 TOPRIGHT는 오른쪽 위를 의미합니다
    map.addControl(mapTypeControl, kakao.maps.ControlPosition.TOPRIGHT);
    // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);



    var CS2lst0 = "{{CS2str0}}".split(", ");
    var CS2lst1 = "{{CS2str1}}".split(", ");
    var CS2lst2 = "{{CS2str2}}".split(", ");
    var CS2lst3 = "{{CS2str3}}".split(", ");
    var CS2lst4 = "{{CS2str4}}".split(", ");
    var CS2lst5 = "{{CS2str5}}".split(", ");
    var CS2lst6 = "{{CS2str6}}".split(", ");
    var CS2lst7 = "{{CS2str7}}".split(", ");
    var CS2lst8 = "{{CS2str8}}".split(", ");
    var CS2lst9 = "{{CS2str9}}".split(", ");
    var CS2lst10 = "{{CS2str10}}".split(", ");
    var CS2lst11 = "{{CS2str11}}".split(", ");
    for (i = 0; i < CS2lst0.length; i++) {        
        CS2lst0[i] = CS2lst0[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst1.length; i++) {        
        CS2lst1[i] = CS2lst1[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst2.length; i++) {        
        CS2lst2[i] = CS2lst2[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst3.length; i++) {        
        CS2lst3[i] = CS2lst3[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst4.length; i++) {        
        CS2lst4[i] = CS2lst4[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst5.length; i++) {        
        CS2lst5[i] = CS2lst5[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst6.length; i++) {        
        CS2lst6[i] = CS2lst6[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst7.length; i++) {        
        CS2lst7[i] = CS2lst7[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst8.length; i++) {        
        CS2lst8[i] = CS2lst8[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst9.length; i++) {        
        CS2lst9[i] = CS2lst9[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst10.length; i++) {        
        CS2lst10[i] = CS2lst10[i].slice(6, -6)
    }
    for (i = 0; i < CS2lst11.length; i++) {        
        CS2lst11[i] = CS2lst11[i].slice(6, -6)
    }
    var MT1lst0 = "{{MT1str0}}".split(", ");
    var MT1lst1 = "{{MT1str1}}".split(", ");
    var MT1lst2 = "{{MT1str2}}".split(", ");
    var MT1lst3 = "{{MT1str3}}".split(", ");
    var MT1lst4 = "{{MT1str4}}".split(", ");
    var MT1lst5 = "{{MT1str5}}".split(", ");
    var MT1lst6 = "{{MT1str6}}".split(", ");
    var MT1lst7 = "{{MT1str7}}".split(", ");
    var MT1lst8 = "{{MT1str8}}".split(", ");
    var MT1lst9 = "{{MT1str9}}".split(", ");
    var MT1lst10 = "{{MT1str10}}".split(", ");
    var MT1lst11 = "{{MT1str11}}".split(", ");
    for (i = 0; i < MT1lst0.length; i++) {        
        MT1lst0[i] = MT1lst0[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst1.length; i++) {        
        MT1lst1[i] = MT1lst1[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst2.length; i++) {        
        MT1lst2[i] = MT1lst2[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst3.length; i++) {        
        MT1lst3[i] = MT1lst3[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst4.length; i++) {        
        MT1lst4[i] = MT1lst4[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst5.length; i++) {        
        MT1lst5[i] = MT1lst5[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst6.length; i++) {        
        MT1lst6[i] = MT1lst6[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst7.length; i++) {        
        MT1lst7[i] = MT1lst7[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst8.length; i++) {        
        MT1lst8[i] = MT1lst8[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst9.length; i++) {        
        MT1lst9[i] = MT1lst9[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst10.length; i++) {        
        MT1lst10[i] = MT1lst10[i].slice(6, -6)
    }
    for (i = 0; i < MT1lst11.length; i++) {        
        MT1lst11[i] = MT1lst11[i].slice(6, -6)
    }
    var markers = [];
    markers.push(startMarker);
    markers.push(arriveMarker);
    var CS2markers = [];
    var MT1markers = [];
    var CS2overlays = [];
    var MT1overlays = [];
    
    var CS2imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png'; // 마커 이미지 url, 스프라이트 이미지를 씁니다
    var CS2imageSize = new kakao.maps.Size(27, 28);  // 마커 이미지의 크기
    var CS2imgOptions =  {
            spriteSize : new kakao.maps.Size(72, 208), // 스프라이트 이미지의 크기
            spriteOrigin : new kakao.maps.Point(46, (5*36)), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
            offset: new kakao.maps.Point(11, 28) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
        };
    var CS2markerImage = new kakao.maps.MarkerImage(CS2imageSrc, CS2imageSize, CS2imgOptions)

    var MT1imageSrc = 'https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_category.png'; // 마커 이미지 url, 스프라이트 이미지를 씁니다
    var MT1imageSize = new kakao.maps.Size(27, 28);  // 마커 이미지의 크기
    var MT1imgOptions =  {
            spriteSize : new kakao.maps.Size(72, 208), // 스프라이트 이미지의 크기
            spriteOrigin : new kakao.maps.Point(46, (1*36)), // 스프라이트 이미지 중 사용할 영역의 좌상단 좌표
            offset: new kakao.maps.Point(11, 28) // 마커 좌표에 일치시킬 이미지 내에서의 좌표
        };
    var MT1markerImage = new kakao.maps.MarkerImage(MT1imageSrc, MT1imageSize, MT1imgOptions)

    for (x = 0; x < CS2lst10.length; x++) {
        var CS2position = new kakao.maps.LatLng(parseFloat(CS2lst11[x]), parseFloat(CS2lst10[x]));
        
        var CS2marker = new kakao.maps.Marker({
            map:map,
            position:CS2position,
            draggable:false,
            image: CS2markerImage
        })

        if (CS2lst6[x]) {
            var content = '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
                        CS2lst7[x] + 
            '            <div class="close" id="ovly" onclick = "closeCS2Overlay(' + x + ');" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="desc">' + 
            '                <div class="ellipsis">' + CS2lst9[x] + '</div>' + 
            '                <div class="jibun ellipsis">(지번) ' + CS2lst0[x] + '</div>' + 
            '                <div class="ellipsis">' + CS2lst6[x] + ' 대표번호</div>' +
            '                <div><a href=' + CS2lst8[x] + ' ' +  'target="_blank" class="link">홈페이지</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>';
        }

        //대표번호 없으면
        else {
            var content = '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
                        CS2lst7[x] + 
            '            <div class="close" id="ovly" onclick = "closeCS2Overlay(' + x + ');" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="desc">' + 
            '                <div class="ellipsis">' + CS2lst9[x] + '</div>' + 
            '                <div class="jibun ellipsis">(지번) ' + CS2lst0[x] + '</div>' + 
            '                <div><a href=' + CS2lst8[x] + ' ' +  'target="_blank" class="link">홈페이지</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>';
        }
        
        var CS2overlay = new kakao.maps.CustomOverlay({
            content: content,
            position: CS2marker.getPosition(),       
            map: map,
        });   

        CS2overlays.push(CS2overlay);

        if (isNaN(Object.values(CS2position)[0])) {}        //position이 NaN이면 마커 리스트에 푸시 X, 안하면 바운드가 꺠짐 
        else {
            CS2markers.push(CS2marker);
            markers.push(CS2marker);
        }
        
    }
    
    for (y = 0; y < MT1lst10.length; y++) {
        var MT1position = new kakao.maps.LatLng(parseFloat(MT1lst11[y]), parseFloat(MT1lst10[y]));
        var MT1marker = new kakao.maps.Marker({
            map:map,
            position:MT1position,
            draggable:false,
            image: MT1markerImage
        })

        //대표번호 있으면
        if (MT1lst6[y]) {
            var content = '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
                        MT1lst7[y] + 
            '            <div class="close" id="ovly" onclick = "closeMT1Overlay(' + y + ');" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="desc">' + 
            '                <div class="ellipsis">' + MT1lst9[y] + '</div>' + 
            '                <div class="jibun ellipsis">(지번) ' + MT1lst0[y] + '</div>' + 
            '                <div class="ellipsis">' + MT1lst6[y] + ' 대표번호</div>' +
            '                <div><a href=' + MT1lst8[y] + ' ' +  'target="_blank" class="link">홈페이지</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>';
        }

        //대표번호 없으면
        else {
            var content = '<div class="wrap">' + 
            '    <div class="info">' + 
            '        <div class="title">' + 
                        MT1lst7[y] + 
            '            <div class="close" id="ovly" onclick = "closeMT1Overlay(' + y + ');" title="닫기"></div>' + 
            '        </div>' + 
            '        <div class="body">' + 
            '            <div class="desc">' + 
            '                <div class="ellipsis">' + MT1lst9[y] + '</div>' + 
            '                <div class="jibun ellipsis">(지번) ' + MT1lst0[y] + '</div>' + 
            '                <div><a href=' + MT1lst8[y] + ' ' +  'target="_blank" class="link">홈페이지</a></div>' + 
            '            </div>' + 
            '        </div>' + 
            '    </div>' +    
            '</div>';
        }
        
        // 마커 위에 커스텀오버레이를 표시합니다
        // 마커를 중심으로 커스텀 오버레이를 표시하기위해 CSS를 이용해 위치를 설정했습니다
        var MT1overlay = new kakao.maps.CustomOverlay({
            content: content,
            position: MT1marker.getPosition(),       
            map: map,
        });   
        
        MT1overlays.push(MT1overlay);
        // 마커를 클릭했을 때 커스텀 오버레이를 표시합니다
        
        //없는 포지션 푸시해서 setBound하면 지도 꺠져서
        if (isNaN(Object.values(MT1position)[0])){}
        else {
            markers.push(MT1marker);    
            MT1markers.push(MT1marker); 
        }
    }    

    function CS2overlayclick(indx) {
        var indx = parseInt(indx)-1;
        CS2overlays[indx].setMap(map);
    }
    function MT1overlayclick(indx) {
        var indx = parseInt(indx)-1;
        MT1overlays[indx].setMap(map);
    }

    // 커스텀 오버레이를 닫기 위해 호출되는 함수입니다 
    function closeMT1Overlay(y){
        MT1overlays[y].setMap(null);
    }
    function closeCS2Overlay(y){
        CS2overlays[y].setMap(null);
    }

    var bounds = new kakao.maps.LatLngBounds();
    
    function setMarkersBound() {
        for (i = 0; i < markers.length; i++) {
            bounds.extend(markers[i].getPosition());
        }
        map.setBounds(bounds);
    }

    function showCS2() {
        for (i = 0; i < CS2markers.length; i++) {
            CS2markers[i].setMap(map);
        }
    }

    function hideCS2 () {
        for (i = 0; i < CS2markers.length; i++) {
            CS2markers[i].setMap(null);
        }
        for (p = 0; p < CS2overlays.length; p++) {
            CS2overlays[p].setMap(null);
        }
    }

    function showMT1 () {
        for (i = 0; i < MT1markers.length; i++) {
            MT1markers[i].setMap(map);
        }
    }

    function hideMT1 () {
        for (i = 0; i < MT1markers.length; i++) {
            MT1markers[i].setMap(null);
        }
        for (p = 0; p < MT1overlays.length; p++) {
            MT1overlays[p].setMap(null);
        }
    }

    function hideOverlays() {
        for (p = 0; p < MT1overlays.length; p++) {
            MT1overlays[p].setMap(null);
        }
        for (p = 0; p < CS2overlays.length; p++) {
            CS2overlays[p].setMap(null);
        } 
    }

</script>
</div>
</body>
</html>